<html>
    <head>
        <title>Course</title>
    </head>
    <body>
        <h2>Study Mart course list</h2>
        <ul>
            <li>My name is {{ Name | upper }}</li>
            <li>Data Mining</li>
            <li>Data Science</li>
            <li>Deep Learning</li>
            <li>Machine Learning</li>
        </ul>
        <h2>We have lot of Courses</h2>
        <ul>
            <li>For Data we have {{c1}} course</li>
            <li>We have {{c2 | lower}} course</li>
            <li>We have {{c3 | upper}} course</li>
            <li>We have {{c4}} course</li>
        </ul>
        <ul>
            <h2>Condition</h2>
            {% if Name == 'Hasan' %}
            <h3>If tag is working</h3>
            {% elif Name == 'Abdus_Salam' %}
            <h3>Elif tag is working</h3>
            {% else %}
            <h3>Else tag is working</h3>
            {% endif %}
        </ul>
    </body>
</html>